* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  background-image: url(../img/Fondo\ desenfocado.webp);
}

html {
  font-size: 1rem;
}

a {
  text-decoration: none;
}

.encabezado {
  background-image: linear-gradient(red, yellow);
  top: 0px;
  display: flex;
  justify-content: space-around;
  position: static;
  width: 100%;
  border: 2px solid black;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: slidein;
          animation-name: slidein;
}

header nav {
  margin: auto;
  justify-content: center;
  display: inline-block;
  color: rgb(44, 44, 44);
  font: normal 400 11px "Open sans";
}
header nav ul li {
  display: inline;
  width: 40%;
  margin-right: 20px;
  padding: auto;
  text-decoration: none;
}
header nav ul li:hover ul {
  position: absolute;
  display: block;
  background-image: linear-gradient(red, orange);
  padding: 20px;
  border: 2px solid black;
  transform: skewY(8deg);
}

.presentacion {
  overflow: hidden;
}
.presentacion h1 {
  color: black;
  font: normal 400 25px Menlo;
  text-align: center;
  padding-top: 20px;
  margin-top: 50px;
}
.presentacion p {
  color: rgb(44, 44, 44);
  font: normal 400 16px "Open sans";
  text-align: justify;
  text-transform: initial;
  padding: 10px;
  margin-top: 50px;
}

.descripcion h2 {
  text-align: center;
  padding-top: 20px;
  margin-top: 50px;
}
.descripcion p {
  text-align: justify;
  text-transform: initial;
  padding: 10px;
  margin-top: 50px;
}
.descripcion img {
  padding: 20px;
  display: block;
  width: 70%;
  height: auto;
  margin-left: 15%;
}

footer {
  background-image: linear-gradient(yellow, white);
  top: 0px;
  display: flex;
  justify-content: space-around;
  position: static;
  width: 100%;
  border: 2px solid black;
}
footer nav {
  margin: auto;
  justify-content: center;
  display: inline-block;
}
footer nav ul li {
  display: inline;
  width: 10%;
  margin-right: 20px;
  font-weight: bold;
  font-style: italic;
  padding: auto;
  text-decoration: none;
}

.listado {
  display: inline-block;
}
.listado h1 {
  color: black;
  font: normal 400 25px Menlo;
  text-align: center;
  padding-top: 20px;
  margin-top: 50px;
}
.listado ul li {
  list-style-type: disc;
  text-transform: lowercase;
  text-align: left;
  margin-top: 10px;
  margin-left: 50px;
}

.imagenutiles img {
  padding: 20px;
  display: block;
  width: 70%;
  height: auto;
  margin-left: 15%;
}

.tablaredes {
  display: inline-block;
  margin-left: 20px;
}
.tablaredes h2 {
  color: black;
  font: normal 400 25px Menlo;
  text-align: justify;
  text-transform: initial;
  padding: 10px;
  margin-top: 50px;
}
.tablaredes p {
  color: rgb(44, 44, 44);
  font: normal 400 16px "Open sans";
  text-align: left;
  text-transform: initial;
  padding: 10px 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 400px;
  height: 400px;
}

.tablajuegos {
  display: inline-block;
  margin-left: 20px;
}
.tablajuegos h2 {
  color: black;
  font: normal 400 25px Menlo;
  text-align: justify;
  text-transform: initial;
  padding: 10px;
  margin-top: 50px;
  margin-left: 20px;
}
.tablajuegos p {
  color: rgb(44, 44, 44);
  font: normal 400 16px "Open sans";
  text-align: left;
  text-transform: initial;
  padding: 10px 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 20px;
  width: 500px;
  height: 300px;
}

.imgjuegos {
  padding: 20px;
  display: block;
  width: 70%;
  height: auto;
  margin-left: 15%;
}/*# sourceMappingURL=main.css.map */